/**********************************
Keyframe Animations
**********************************/
@keyframes dissolveAnimation {
  0% { opacity:1; }
  17% { opacity:1; }
  25% { opacity:0; }
  92% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes shake {
    10% { transform: rotate(15deg); }

    20% { transform: rotate(-15deg); }

    30% { transform: rotate(15deg); }

    40% { transform: rotate(-15deg); }
}
@keyframes pillAnimationFull{
  0% {width: 0;}
  100% {width: 100%;}
}
@keyframes pillAnimation90{
  0% {width: 0;}
  100% {width: 90%;}
}
@keyframes pillAnimationHalf{
  0% {width: 0;}
  100% {width: 50%;}
}
@keyframes pillAnimation82{
  0% {width: 0;}
  100% {width: 82%;}
}
@keyframes pillAnimation75{
  0% {width: 0;}
  100% {width: 75%;}
}
@keyframes pillAnimation65{
  0% {width: 0;}
  100% {width: 65%;}
}
@keyframes pillAnimation30{
  0% {width: 0;}
  100% {width: 30%;}
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes boxShadowAnimation {
  0%{box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
	100% {box-shadow: rgb(0 0 0 / 25%) 0px 14px 28px, rgb(0 0 0 / 22%) 0px 10px 10px;}
}

/* @keyframes gradient{
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}
@keyframes titleSlideUpOut{
  0% {transform: translate3d(0px, 0%, 0px)}
  50% {transform: translate3d(0px, -50%, 0px)}
  100% {transform: translate3d(0px, -100%, 0px)}
}
@keyframes titleSlideUpIn {
  0% {transform: translate3d(0px, 100%, 0px)}
  50% {transform: translate3d(0px, 50%, 0px)}
  100% {transform: translate3d(0px, 0%, 0px)}
} */
/*********************************
Universal Styling
*********************************/
*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
  text-decoration: none;
}
html::-webkit-scrollbar,body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #0c0c0c;
}
::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
main > div:first-child, main > section:first-child{
  margin-top: 100px;
}
h1{
  font-size: 2rem;
  font-weight: 400;
}
ul{
  list-style: none;
}
.section{
  width: 100%;
  height: 100vh;
  min-height: 100%;
  box-sizing: border-box;
}

.section.cards, .section.tabs{
  height: auto;
  overflow: hidden;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
  justify-content: center;
}
.flex-between{
  justify-content: space-between;
}
form .flex, .section.text-with-image .content > .flex, form label, .banner .flex, .tabs .padding.content .flex, .tab-content{
  display: block;
}

h1, h2, input, .mainColor,.inner-tab p, footer p, .skills-set, .badges p, form label, .cards .content-copy a{
  color: #77A68B ;
}

.mailer h1, .main-lg{
  font-size: 2.5rem;
  line-height: 1.5;
}
.text-with-image h1{
  margin-bottom: 1rem;
}
/* .footer-section a:hover, .banner p{
  color: #40594B;
} */

.dsktp-only, .hide{
  display: none;
}

.inactive{
  text-decoration: line-through;
  color: #f8f8f870;
}
/*********************************
Component Styling - Navbar
*********************************/
header{
  position: fixed;
  width: 100%;
  z-index: 99999999;
  top: 0;
}

header > div.flex{
  padding: 1em 2rem;
  /* margin-top: 1rem; */
  align-items: center;
  position: relative;
  height: 75px;
}

header .menu{
  display: none;
  height: 0;
}
.menu.open{
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  background: #0c0c0c;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

header .dropdown-cta{
  color: white;
}
header ul{
  align-items: center;
}

header ul li{
  padding: 0.5rem 1rem;
}

.menu.open ul{
  /* border-bottom: 1px solid #f8f8f8; */
  margin-top: 2rem;
}

.menu.open li{
  padding: 2rem 0;
  /* border-bottom: 1px solid #f8f8f8FA; */
}
.menu.open li:last-child{
  border-bottom: none;
}
.menu.open li a{
  width: 100%;
  display: block;
}
.menu.open .nav-cta a{
  color: #77A68B;
}
/*********************************
Component Styling - Navigation
*********************************/
/* .navigation{
  width: 100%;
  height: 5px;
  display: flex;
  max-height: 12rem;
  justify-content: space-between;
  align-items: center;  
  font-size: 1rem;
  height: 11.2em;
  position: fixed;
  padding-left: 6em;
  z-index: 1000;
  padding-right: 6em;
}
.navigation ul{
  flex-wrap: wrap;
  float: right;
  margin: 20px 0;
  padding: 0 25px;
}
.navigation ul li{
  list-style-type:none;
  padding-right: 10px;
} */
.hamburger{
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  transition-timing-function: linear;
  transition-duration: .15s;
  transition-property: opacity,filter;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  opacity: 1;
}
.hamburger.is-active{
    opacity: .7;
}
.hamburger-box{
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.hamburger .hamburger-inner{
  top: 2px
}
.hamburger .hamburger-inner:after {
    top: 20px;
    bottom: -10px;
}

.hamburger-inner{
  display: block;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before{
  position: absolute;
  width: 40px;
  height: 4px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform;
  border-radius: 4px;
  background-color: #fff;
}
.hamburger-inner:after, .hamburger-inner:before {
  display: block;
  content: "";
}
.hamburger .hamburger-inner:before {
  top: 10px;
  transition-timing-function: ease;
  transition-duration: .15s;
  transition-property: transform,opacity;
}
.hamburger.is-active .hamburger-inner {
  transform: translate3d(0,10px,0) rotate(45deg);
}

.hamburger.is-active .hamburger-inner:before {
  transform: rotate(-45deg) translate3d(-5.71429px,-6px,0);
  opacity: 0;
}
.hamburger.is-active .hamburger-inner:after {
    transform: translate3d(0,-20px,0) rotate(-90deg);
}


/*********************************
Component Styling - Banner
*********************************/

/* .title-slider{
  opacity: 1;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 5em;
} */
.banner,.badges, footer .section, .cards, .tabs, .tabs .container, .mailer, header, .card .overlay, .error-page, .text-with-image, .slider-wrapper {background: #0c0c0c;}
.banner .padding.content {
  padding: 2rem 2rem 6rem;
}
.banner .content{
  text-align: center;
}
.banner h1{
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.banner h2{
  font-size: 2.5rem;
}
.banner .banner-image{
  margin: 0 auto;
  margin-top: 3rem;
  border: 3px solid #40594B;
  padding: 2rem 2rem 0;
  overflow: hidden;
  border-radius: 100%;
  width: 250px;
  position: relative;
}
.banner img{
  margin-bottom: -10px;
  margin-right: -10px;
}
/* 
.main-lg{
  text-transform: uppercase;
  line-height: 100%;
  color: #f8f8f8 !important;
}
.grad{
  background: #0c0c0c;
  background: linear-gradient(-45deg, #47C5CF, #94DABC, #FFCF54, #FAD1E2);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.main-lg.hide-slide{
  position:absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: auto;
  transform: translate3d(0px, 100%, 0px);
}

.main-lg.active, .main-lg.inactive{
  right: 0;
}
.main-lg.start{
  transform: translate3d(0px, 0%, 0px);
}
.main-lg.slideIn-start.start.active{
  animation: titleSlideUpIn 1.5s forwards;
}
.main-lg.hide-slide.active{
  animation: titleSlideUpIn 1.5s forwards;
}
.main-lg.hide-slide.inactive.hide-slideUp{
  animation: titleSlideUpOut 1.5s forwards;
}
.main-lg.start.inactive{
  animation: titleSlideUpOut 1.5s forwards;
} */

/*********************************
Component Styling - CopyBlock
*********************************/

.CopyBlock{
  background: #f8f8f8;
  text-align: center;
}
.CopyBlock > div{
  height: 40vh;
}
.CopyBlock .content{
  padding: 10rem 0;
}
.CopyBlock .content h2{
  margin-bottom: 1.5rem;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 700;
}

/*********************************
Component Styling - Cards
*********************************/

.cards .content{
  text-align: center;
}
.cards .content-title{
  margin-bottom: 1.5rem;
}
.cards .content-copy{
  letter-spacing: 1px;
  width: calc(100% - 4rem);
  margin: 0 auto 3rem;
}
.cards .content-copy a{
  position: relative;
}
.cards .content-copy a::after{
  /* width: 100%; */
  content: "";
  position: absolute;
  border-bottom: 1px solid #f8f8f8;
  bottom: 0;
  left: 0;
  right: unset;
  width: 0;
  transition: width 300ms linear;
}
.cards .content-copy a:hover::after{
  width: 100%;
}
.card-grid{
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: block;
}
.card{
  position: relative;
  height: 290px;
  width: 345px;
  margin: 0 auto 3rem;
}
.cards h2, .CopyBlock .content p{
  color: #0c0c0c;
}
.card img{
  position: absolute;
  right: 0;
  top: 0;
}
.card figcaption, .card .overlay{
  position: absolute;
  top: 0;
  /* left: 0;
  bottom: 0; */
  right: 0;
  height: 290px;
  width: 345px;
  /* width: 100%;
  height: 100%; */
  opacity: 0;
  transition: opacity .45s ease-in-out;
}

.card figcaption{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.card .overlay{
  z-index: 5;
}
.card:hover figcaption{
  border: 1px solid #77A68B;
}
.card:hover, .card figcaption, .card .overlay, .card, .card img{
  border-radius: 12px;
}
.card:hover figcaption, .card:hover .overlay{
  opacity: 1;
}
.card .link-container{
  margin: 1.5rem 0;
}

.card-link{
  border: 2px solid #77A68B;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-weight: 300;
  font-size: .9rem;
  transition: background ease-in 200ms;
}
.card-link:hover{
  background: #77A68B;
}
.card-link, .card h2, .text-with-image p, .card figcaption p, footer div.padding.content > div:first-child a, footer span, .list-header, .slide, .banner, .gallery-wrapper h2, li, p, h2{
  letter-spacing: 2px;
}

.card figcaption p{
  width: 80%;
  margin: 1rem auto 3rem;
}
.cards h2{color: #77A68B;}

p,.card-link, header a, .banner h2, button a, form input::placeholder, textarea::placeholder, textarea{
  color: #f8f8f8;
}

.mailer h1{
  margin-bottom: 1.2rem;
}
h2, .card h2{
  font-weight: 500;
}

/*********************************
Component Styling - Mailer Form
/*********************************/

.mailer{
  height: auto;
}

form div .row{
  width: 100%;
  margin-top: 1.5rem;
}
.section.mailer > div{
  width: 95%;
  padding: 0 3rem;
}
.mailer p{
  letter-spacing: 2px;
  font-weight: 400;
}
.mailer br{
  display: none;
}
.form-copy{
  margin-bottom: 3rem;
}
.mailer p, form input, form textarea,form label{
  font-size: 1.2rem;
}

form input, form textarea,form label, .banner h2, footer div.padding.content > div:first-child a, footer span, .tab-cta, .skill-copy{
  font-weight: 200;
}
form label{
  opacity: .8;
  margin-bottom: 1rem;
}
form input, form textarea{
  border: none;
  background: inherit;
  margin: 0;
  border-bottom: 1px solid #77A68B;
  letter-spacing: 1px;
  width: 100%;
  padding: 0 0 1rem 0;
}
form textarea{
  line-height: 18.5px;
}
form input::placeholder, form textarea::placeholder{
  transition: opacity .5s linear;
}
form input:focus, form textarea:focus{
  outline: none;
}
form input:focus::placeholder, form textarea:focus::placeholder{
  opacity:0;
}
  
form .justify-center{
  justify-content: center;
}
  
form .justify-center:last-child{
  padding: 0;
}
  
form .justify-center:nth-child(2) .row{
  width: 100%;
}

form > div:last-child{
  margin-top: 3rem;
}
textarea{
  width: 100%;
  overflow: auto;
}

.disclaimer{
  font-size: 0.8rem;
}

/*********************************
Component Styling - Button
*********************************/
.mailer button{
  position:relative;
  letter-spacing: 0.15em;
  font-size: 0.7em;
  font-weight: bold;
  user-select:none;
  width: 200px;
  display: inline-flex;
  overflow: hidden;
  background: transparent;
  white-space: nowrap;
  /* padding-top: 2rem; */
  text-transform: uppercase;
  border: 2px solid #77A68B;
  margin: 0 auto;
  border-radius: 0.4rem;
  padding: 1.5rem 1rem;
  transition: all 0.5s linear;
  cursor: pointer;
}

.mailer button a{
  text-align: center;
  margin: 0 auto;
}

.mailer button:hover,
.mailer button:focus {
  background-color: #77A68B;
}

/*********************************
Component Styling - Carousel
*********************************/
.slider-wrapper, .gallery-wrapper {
  /* margin: 1rem 0; */
  position: relative;
  overflow: hidden;
}
.slides-container, .CopyBlock > div, .gallery-container, header > div, .badges .content{
  width: calc(100vw - 4rem);
  margin: 0 auto;
}
.slides-container {
  /* height: calc(100vh - 2rem); */
  /* width: 100%; */
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  list-style: none;
  margin: 2rem auto;
  padding: 2rem;
  overflow: scroll;
  scroll-behavior: smooth;
  border-radius: 3rem;
}
.slide {
  width: 300px;
  height: calc(100vh + 3rem);
  flex: 1 0 100%;
  margin-right: 2.1rem;
  border: 1px solid #77A68B;
  border-radius: 3rem;
}
.slide:last-child{
  margin-right: 0;
}
.text-with-image .padding.content{
  width: calc(100% - 4rem);
  margin: 0 auto;
}
.text-with-image .padding.content{
  padding: 2rem;
}
.text-with-image img{
  margin-top: 2rem;
  width: 100%;
}
.slide-head, .slide-copy, .slide-list{
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.slide-head{
  margin-top: 5rem;
}
.slide-copy{
  margin: 1.5rem auto 3rem;
  font-weight: 400;
  position: relative;
}
.slide-head h2{font-size: 22px;font-weight: 400;}
.slide-head h2, .slide-copy p{letter-spacing: 1px !important;}
/* .slide-copy::after{
  width: 150px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -3rem;
  height: 1px;
  content: "";
  background: #77A68B;
  position: absolute;
} */
.slide-list{
  margin-top: 1rem;
  /* margin-bottom: 3rem; */
}
.footer-menu, footer .section .content > div:first-child > div{
  margin-top: 3rem;
}
.list-header, .slide{
  margin-bottom: 1rem;
  color: #77A68B;
  font-weight: bold;
  /* text-transform: uppercase; */
}
.slide img, .slide-list-item{
  margin-bottom: .8rem;
}
.slide-list-item{
  font-weight: 200;
}
.slide-skill{
  align-items: center;
  height: 40px;
  width: 350px;
  margin: 0 auto;
  justify-content: space-between;
}

.slide-arrow {
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 2rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  align-items: center;
}
.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}
.slide-arrow-back {
  left: 0;
  padding-left: 0.25rem;
  border-radius: 0 2rem 2rem 0;
}
.slide-arrow-next {
  right: 0;
  padding-left: 0.75rem;
  border-radius: 2rem 0 0 2rem;
}

/*********************************
Component Styling - gallery
*********************************/

.gallery-wrapper{
  outline: none;
}

.gallery-wrapper img{
  max-width: 100%;
  max-height: 100%
}
.gallery-wrapper .active-image{
  height: 250px;
  margin: 0 auto 1rem;
  /* padding-bottom: 1rem; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-title{
    margin-bottom: 1rem;
}
.gallery-thumbnails img{
  width: 100%;
  /* max-width: 100%;
  max-height: 100%; */
}
.gallery-overlay{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0c0c0cAA;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.gallery-thumbnails{
  /* position: absolute; */
  height: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  display: flex;
}
.thumbnail-container{
  /* background: rgba(255,255,255,0.4); */
}
.thumbnail{
  /* display: flex;
  align-items: center; */
  /* display: inline-block; */
  flex: 1 0 125px;
  max-height: 84px;
  margin-right: 1rem;
  position: relative;
}
.thumbnail:last-child{
  margin-right: 0;
}
.thumbnail-overlay{
  position: absolute;
  display: flex;
  padding: 0 2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #0c0c0cAA;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.thumbnail-overlay span, .gallery-overlay span{
  letter-spacing: 1px;
  font-size: .8rem;
}
.blocks-container.center{
  text-align: center;
}
/*********************************
Component Styling - Footer
*********************************/

footer, footer .flex-between, .banner .banner-image, button > a, form .justify-center:last-child,.form-copy, .banner, .error-page, .slide, .badges .content{
  text-align: center;
}

footer .section{
  justify-content: initial;
  height: 100vh;
}

footer .flex-between{
  flex-direction: row-reverse;
  padding-top: 3rem;
} 
footer .socials-menu{
  justify-content: center;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.socials-menu li{
  justify-content: space-evenly;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

footer div.padding.content{
  width: 100%;
  padding: 5rem 3rem 0;
}
footer div.padding.content > div:first-child{
  padding-bottom: 8rem;
}
footer div.padding.content > div:first-child{
  border-bottom: 1px solid white;
}

footer div.padding.content > div.flex:first-child{
  border-bottom: 1px solid #40594B;
}
footer div.padding.content div.flex.flex-between{
  padding-top: 4rem;
}

footer div.padding.content > div:first-child, footer .section div.padding.content > div:first-child a, footer span,button:hover a, .icon, .tab-content, .tab p, form input, .thumbnail-overlay span, .gallery-overlay span{
  color: #f8f8f8;
}

.footer-menu{
  margin-top: 2rem 0 1rem;
  list-style: none;
}

.footer-menu li{
  margin: 0.3rem auto;
  width: max-content;
}
footer div.padding.content > div:first-child a::after{
  content: '';
  width: 100%;
  height: 1px;
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}
footer div.padding.content > div:first-child a:hover::after{
  transform: scaleX(1);
}

.icon {
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 6px;
    outline: 2px solid #f8f8f8;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}
.icon::after{
  border-radius: 0.4rem;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}
/* Skills Components */
.tabs .content{
  margin-left: auto;
  margin-right: auto;
  padding: 0 2rem;
}
.tabs .container{
  margin: 0 auto;
  border-radius: 50px;
  margin-top: -150px;
}
.skill{
  align-items: center;
  height: 50px;
  width: 350px;
  margin: 0 auto;
  justify-content: space-between;
}
.skill p{
  font-size: .9rem;
}
.pill-name{
  width: 100px;
  margin-right: 1.2rem;
  font-size: .9rem;
}
.pill{
  border: 1px solid #40594B;
  border-radius: 3px;
  overflow: hidden;
}
.pill-fill{
  background: #40594B;
}
.pillFull{
  animation: pillAnimationFull 1s forwards;
}
.pillHalf{
  background-color: #ffed50;
  animation: pillAnimationHalf 1s forwards;
}
.pill90{
  animation: pillAnimation90 1s forwards;
}
.pill82{
  animation: pillAnimation82 1s forwards;
}
.pill75{
  animation: pillAnimation75 1s forwards;
}
.pill65{
  animation: pillAnimation65 1s forwards;
}

.pill,.pill-fill{
  width: 200px;
  height: 10px;
}
.tabs .flex.container{
  box-shadow: 0 5px 5px 0 rgb(119 166 139 / 35%), 0 0 0 1px rgb(119, 166, 139);
}
.tab{
  padding: 1.4rem;
  z-index: 999;
  width: 33%;
}
.tab:not(:last-child){
  border-right: 1px solid rgb(119 166 139 / 15%);
}
.tab h2{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 1.5rem;
}
.tab-cta{
  margin-top: 3rem;
  font-size: .8rem;
  letter-spacing: 0.05rem;
}
.inner-tab{
  margin: 4rem 0;
}
.tab-cta p{
  font-size: 1rem;
}

.inner-content{
  margin: 0 auto;
}
/* Badges */
.badges{
  padding: 5rem 0 0;
}
.badges > div.flex.flex-center{
  width: 100%;
}

.badges .content{
  width: 80%;
  margin: 0 auto;
}

.badges .content > div:first-child{
  margin-bottom: 2rem;
}
.badges .content .flex{
  flex-wrap: wrap;
}

.badge{
  width: 50%;
}


@media (min-width: 768px){
  header .menu{
    display: block;
    position: relative;
  }
  header ul{
    justify-content: space-between;
    width: 275px;
  }
  header img{
    width: 100px;
    height: 41px;
  }
  .nav-cta{
    border: 1px solid #77A68B;
    border-radius: 100px;
    transition: background ease-in 200ms;
  }
  .nav-cta:hover{
    background: #77A68B;
  }
  .dropdown-cta{
    display: none;
  }

  .banner h1{
    line-height: auto;
  }

  .slider-wrapper{
    overflow: visible;
    height: 100vh ;
    display: flex;
    justify-content: center;
    /* z-index: -1; */
  }
  .slider-wrapper button{
    display: none;
  }
  .slides-container{
    z-index: 999;
    margin-top: -10rem;
    box-shadow: 0 5px 5px 0 rgb(119 166 139 / 35%), 0 0 0 1px rgb(119, 166, 139);
    background: #0c0c0c;
    position: absolute;
    overflow: unset;
    padding: 0;
    /* height: auto; */
  }
  .slide {
    height: 100%;
    width: 100%;
    flex: unset;
    border: none;
    border-radius: 0;
    border-right: 1px solid #77A68B50;
    margin-right: 0;
    /* overflow: scroll; */
  }
  .slide:last-child {
    border-right: none;
  }
  .slide-head{
    height: auto;
    max-height: 100px;
  }
  .slide-copy{
    height: 100px;
  }
  .section.tabs{
    overflow: visible;
  }
  .badge{
    flex: 1 0 250px;
  }
  .badge img{
    width: 175px;
    height: 175px;
  }
  .dsktp-only{
    display: unset;
  }
  header ul, .section.flex, .banner .flex, footer .section .content > div, form .flex, .section.text-with-image,.section.text-with-image .content > .flex, .user-learning .flex, .tab-content, .tabs .padding.content .flex, .card-grid{
    display: flex;
  }
  .flex.tabs{
    align-items: center;
  }
  .tab-content{
    justify-content: center;
    align-items: center;
  }
  .banner .banner-image{
    margin: 7rem auto 0;
  }
  .card{
    width: inherit;
  }
  .card img{
    position: relative;
  }
  .cards .content-copy{
    margin-bottom: 6rem;
  }
  
  .CopyBlock .content{
    width: 700px;
  }

  .inner-content{
    width: 500px; 
  }
  .text-with-image .blocks-container{
    display: flex;
    height: 450px;
    align-items: center;
    overflow: hidden;
  }
  .reverse-block{flex-direction: row-reverse;}
  .blocks-container .container-content{
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .text-with-image .image-container{
    max-height: inherit;
  }
  .text-with-image .image-container,  .text-with-image .text-container{
    width: calc(100% - 4rem);
  }
  .text-with-image .text-container{
    max-width: 700px;
  }
  .text-with-image .image-container img{
    height: 100%;
    max-width: 400px;
    margin-top: 0;
  }
  .text-with-image .copy{
    /* width: 100%; */
  }
  .image{
    width: 45%;
  }

  button{
    width: auto;
    min-width: 200px;
  }
  
  form, .form-copy{
    width: 50%;
    min-width: 500px;
  }
  
  form{
    margin: 0 auto;
  }
  .form-copy{
    margin: 0 auto 5rem;
  }

  form .flex .row{
    padding-right: 0.3em;
    padding-left: 0;
    margin-top: 0;
    width: 45%;
  }
  .gallery-title{
      margin-bottom: 3rem;
  }
  .gallery-wrapper .active-image{
    height: unset;
    max-width: 700px;
    margin: 0 auto 2rem;
  }
  .active-image img{
    max-width: 700px;
    max-height: 467px;
  } 
  .thumbnail-container{
    /* padding: 2rem 4rem; */
    /* max-width: 1080px; */
    max-width: 700px;
    margin: 0 auto;
  }
  .thumbnail{
    max-height: 80px;
    max-width: 125px;
    /* margin: 0 auto 1rem; */
    /* margin-bottom: 1rem; */
  }
  form .justify-center:nth-child(2) {
    margin: 3rem auto;
  }

  footer, footer .flex-between, button > a, .section.text-with-image, .copy{
    text-align: unset;
  }
  footer .section, .mailer{
    height: 100vh;
  }

  footer div.padding.content {
    padding: 5rem 4rem 0;
  }
  
  footer div.padding.content > div:first-child {
    padding-bottom: 1.5rem;
    /* justify-content: space-between; */
  }
  
  footer .flex-between{
    align-items: center;
    padding-top: 5rem;
  }

  footer .section .content > div:first-child > div, footer .section .content > div:first-child > ul{
    margin-bottom: 14rem;
    /* flex: 1 1 100%; */
    width: 45%;
    /* padding-left: 2rem; */
  }
  .footer-menu li{
    margin: 1rem 0;
  }
  footer .socials-menu{
    margin-bottom: 0;
  }
  .mailer br{
    display: unset;
  }
}
/* @media (min-width: 1024px){
  .padding, footer div.padding.content{
    padding: 4rem 8rem;
  }
} */
